body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    font-family: Arial;
}

h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}