body{
    margin:0;
    background:#0d1117;
    color:white;
    font-family:Arial;
}

h1{
    text-align:center;
}

.menu-btn{
    position:fixed;
    top:15px;
    left:15px;
    border:none;
    background:none;
    cursor:pointer;
    z-index:10000;
}

.sidebar{
    position:fixed;
    top:0;
    left:-240px;
    width:220px;
    height:100vh;
    background:#222;
    transition:.3s;
    overflow-y:auto;
    z-index:9999;
    padding:15px 0;
}

.close-btn{
    width:100%;
    height:60px;
    border:none;
    background:#333;
    color:white;
    font-size:18px;
    cursor:pointer;
    margin-bottom:8px;
}

.close-btn:hover{
    background:#0d6efd;
}

.close-btn img{
    max-width:100%;
    height:auto;
}

#overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    display:none;
    z-index:999;
}

.content{
    padding:80px 30px;
}

.container{
    background:#1f2937;
    padding:20px;
    border-radius:12px;
    margin:25px auto;
    max-width:900px;
}

.poster-btn{
    border:none;
    background:none;
    width:100%;
    cursor:pointer;
}

.poster-btn img{
    width:100%;
    border-radius:10px;
}

.circle{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}

.dark{
    background:black;
    color:white;
}

.dark .container{
    background:#222;
}

.dark .sidebar{
    background:#111;
}